{{> message}}
<h2>Register</h2>
<form action="/users" method="post">
  <div>
    <div>
      <label for="name">Name</label>
    </div>
    <input id="name" type="text" name="name" placeholder="Enter name">
  </div>
  <div>
    <div>
      <label for="email">Email</label>
    </div>
    <input id="email" type="email" name="email" placeholder="Enter email" required>
  </div>
  <div>
    <div>
      <label for="password">Password</label>
    </div>
    <input id="password" type="password" name="password" placeholder="Enter password" required>
  </div>
  <div>
    <div>
      <label for="confirmPassword">Confirm password</label>
    </div>
    <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm password" required>
  </div>
  <button type="submit">Register</button>
</form>
<form action="/login/facebook" method="get">
  <button type="submit">Facebook Login</button>
</form>
<div>
  <span>Already have an account?</span>
  <a href="/login">Login</a>
</div>